.section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.title {
  padding-bottom: 20px;

  font-size: 35px;
  text-transform: capitalize;
  text-align: center;

  border-bottom: 1px solid rgb(181, 181, 181);
}